<?xml version='1.0' encoding='utf-8'?>
<widget id="io.ironcoaching.capacity" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kapacitet</name>
    <description>
        Ironkapacitet AB
    </description>
    <author email="info@ironcoaching.se" href="http://ironcoaching.se">
        Ironkapacitet AB
    </author>
    <preference name="orientation" value="portrait" />
    <content src="index.html" />
    <access origin="*" />
    <access origin="tel:*" launch-external="yes"/>
    <access origin="mailto:*" launch-external="yes"/>

    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000"/>

    <engine name="android" spec="~4.1.1" />
    <engine name="ios" spec="~4.0.1" />

    <plugin name="com.shazron.cordova.plugin.keychainutil" spec="~1.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0"/>
    <plugin name="cordova-plugin-splashscreen" spec="~3.0.0"/>
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-file" spec="~4.1.1" />
</widget>
