<ons-navigator>
    <ons-page>
        <div class="headline">
            <span class="header-text"><div><img class="ic-logo" src="images/ic-logo.svg">Hur lyckades<br> den här veckan?</div></span>
        </div>
        <ons-list class="range-list" style="margin-bottom: 20px">
            <ons-list-item>
                <ons-row>
                    <ons-col width="30px">
                        <ons-icon icon="fa-cutlery" class="lower" style="color: #38A9DB" ng-click="showDialog('Matkvalitèt', 'Du äter oregelbundet och för mycket eller för lite mat.')"></ons-icon>
                    </ons-col>
                    <ons-col class="range-wrapper">
                        <input ng-model="capacityModel.nutritionQuality" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                    </ons-col>
                    <ons-col width="30px">
                        <ons-icon icon="fa-cutlery" class="lower" style="padding-left: 5px; color: #BA2375" ng-click="showDialog('Matkvalitèt', 'Du äter regelbundet 5-6 ggr om dagen och rimliga portioner av hög kvalité.')""></ons-icon>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item>
                <ons-row>
                    <ons-col width="30px">
                        <ons-icon icon="fa-users" class="lower" style="color: #38A9DB" ng-click="showDialog('Sociala relationer', 'Konfliktfyllda och bråkiga relationer.')"></ons-icon>
                    </ons-col>
                    <ons-col class="range-wrapper">
                        <input ng-model="capacityModel.relationshipQuality" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                    </ons-col>
                    <ons-col width="30px">
                        <ons-icon icon="fa-users" class="lower" style="padding-left: 5px; color: #BA2375" ng-click="showDialog('Sociala relationer', 'Du har väl fungerande relationer.')"></ons-icon>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item>
                <ons-row>
                    <ons-col></ons-col>
                </ons-row>
                <ons-row>
                    <ons-col width="30px">
                        <ons-icon icon="fa-heartbeat" class="lower" style="color: #38A9DB" ng-click="showDialog('Fysisk aktivitet', 'Du rör dig inte mer än nödvändigt för att ta dig fram.')"></ons-icon>
                    </ons-col>
                    <ons-col class="range-wrapper">
                        <input ng-model="capacityModel.exerciseQuality" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                    </ons-col>
                    <ons-col width="30px">
                        <ons-icon icon="fa-heartbeat" class="lower" style="padding-left: 5px; color: #BA2375" ng-click="showDialog('Fysisk aktivitet', 'Din fysisk aktivitet och träning har hälsofrämjande effekt på din hälsa.')"></ons-icon>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item>
                <ons-row>
                    <ons-col width="30px">
                        <ons-icon icon="fa-child" class="lower" style="color: #38A9DB" ng-click="showDialog('Livskontroll', 'Ditt liv känns som okontrollerbar kaos')"></ons-icon>
                    </ons-col>
                    <ons-col class="range-wrapper">
                        <input ng-model="capacityModel.challengeAmount" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                    </ons-col>
                    <ons-col width="30px">
                        <ons-icon icon="fa-child" class="lower" style="padding-left: 5px; color: #BA2375" ng-click="showDialog('Livskontroll', 'Du känner att du är i kontroll och styr ditt liv framgångsrikt.')"></ons-icon>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item>
                <ons-row>
                    <ons-col width="30px">
                        <ons-icon icon="fa-bed" class="lower" style="color: #38A9DB" ng-click="showDialog('Sömn och vila', 'Du vaknar trött och sliten varje morgon.')"></ons-icon>
                    </ons-col>
                    <ons-col class="range-wrapper">
                        <input ng-model="capacityModel.restAmount" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                    </ons-col>
                    <ons-col width="30px">
                        <ons-icon icon="fa-bed" class="lower" style="padding-left: 5px; color: #BA2375" ng-click="showDialog('Sömn och vila', 'Du vaknar pigg och energisk varje morgon.')"></ons-icon>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item>
                <ons-row>
                    <ons-col width="30px">
                        <ons-icon icon="fa-pause" class="lower" style="color: #38A9DB" ng-click="showDialog('Avkoppling', 'Du har ingen tid eller förmåga att koppla av.')"></ons-icon>
                    </ons-col>
                    <ons-col class="range-wrapper">
                        <input ng-model="capacityModel.relaxAmount" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                    </ons-col>
                    <ons-col width="30px">
                        <ons-icon icon="fa-pause" class="lower" style="padding-left: 5px; color: #BA2375" ng-click="showDialog('Avkoppling', 'Du kan ta avkopplande pauser dagligen med gott samvete.')"></ons-icon>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

        <ons-bottom-toolbar class="battery-container">
            <div class="battery-row">
                <span ng-hide="dailyCapacitySaved" class="capacity" ng-click="storeCapacity()">Spara Kapacitet</span>
                <span ng-show="dailyCapacitySaved" class="capacity-click">Kapacitet Sparad</span>
                <div class="animate-switch-container" ng-switch on="capacity">
                    <img ng-switch-when="active" src="images/battery-01.svg" width="100px" />
                    <img ng-switch-when="feeling" src="images/battery-02.svg" width="100px" />
                    <img ng-switch-when="logical" src="images/battery-03.svg" width="100px" />
                    <img ng-switch-default src="images/battery-04.svg" width="100px" />
                </div>
            </div>
        </ons-bottom-toolbar>
    </ons-page>
</ons-navigator>