<ons-page style="background-color: white;">
    <div class="headline-trend">
        <div class="header-text-trend" ng-click="deleteData()">Trend</div>
    </div>

    <div class="card" style="background-color: white;padding-top:0px;margin-top:0px;">
        <line-chart data="capacityStorage" height="320px" width="420px"></line-chart>
    </div>
    <div style="text-align:center;background-color: white;">
        <hr>
        <b>Dina 12 senaste veckors kapacitet</b>
    </div>

    <ons-list modifier="inset" class="settings-list">
        <ons-list-item class="contact">
            <h3>Ironkapacitet AB</h3>
            <p><b>Jyrki Kinnunen</b><br>
                Kapacitetscoach<br>
                <a href="tel:+46735115669">Tel +4673 5115 669</a><br>
                <a href="mailto:info@ironcoaching.se">Epost: info@ironcoaching.se</a><br></p>
        </ons-list-item>
    </ons-list>

</ons-page>