<ons-carousel swipeable overscrollable auto-scroll fullscreen var="carousel">

    <ons-carousel-item class="usage-slide-1">
		<div class="item-label-header"><h1>Kapacitetsmätning</h1></div>	
        <div class="item-label">	
            <p><i class="positive">Din kapacitet</i> är mått på dina krafter. Kapaciteten består av fysisk, psykisk,
                social och etisk kapacitet</p>

            <p>Kapacitetsmätningen ger dig insikt och förståelse hur du kan påverka och
                bestämma över <i class="positive">dina krafter.</i></p>

            <p>Genom att göra mätningen veckovis för du snart en uppfattning hur du kan bli
                kaptenen av <i class="positive">ditt liv!</i></p>

            <p>Gör en subjektiv uppskattning på <i class="positive">din
                kapacitet</i> genom att uppskatta din energi,
                dina utmaningar och återhämtning genom
                att välja en passande värdering på
                respektive mått.</p>
        </div>
    </ons-carousel-item>
    <ons-carousel-item class="usage-slide-1">
		<div class="item-label-header"><h1>Energi</h1></div>
        <div class="item-label">
            <ons-row align="left" style="padding-top:15px;">			
                <ons-col>
					<h3>Fysisk – mat och vätska</h3>
					<p><i class="fa fa-plus fa-lg" style="color:#fa1bbb;padding-right:5px;"> </i>  Äter regelbundet 5-6 ggr om dagen. Äter rimliga portioner av hög kvalité. Dricker 1,5-2 l vatten dagligen</p>
					<p><i class="fa fa-minus fa-lg" style="color:#38A9DB;padding-right:5px;"> </i>   Äter oregelbundet. För mycket eller för lite mat. Dricker inte alls vatten.</p>
				</ons-col>
			</ons-row>
            <ons-row align="center" style="padding-top:15px;">
                <ons-col style="padding-top:20px;">
					<h3>Psykisk – kvalitét av sociala relationer</h3>
					<p><i class="fa fa-plus fa-lg" style="color:#fa1bbb;padding-right:5px;"> </i> Väl fungerande relationer. Lätt att umgås med olika personligheter. Du får energi av dina sociala.</p>
					<p><i class="fa fa-minus fa-lg" style="color:#38A9DB;padding-right:5px;"> </i> Konfliktfyllda och bråkiga relationer. Har svårt att komma överens med andra människor.</p>
				</ons-col>	
            </ons-row>
        </div>
    </ons-carousel-item>
    <ons-carousel-item >
		<div class="item-label-header"><h1>Utmaningar</h1></div>
        <div class="item-label">
            <ons-row align="left" style="padding-top:15px;">
                <ons-col>
					<h3>Fysiska – träning och fysisk aktivitet</h3>
					<p><i class="fa fa-plus fa-lg" style="color:#fa1bbb;padding-right:5px;"> </i>  Din fysisk aktivitet och träning har hälsofrämjande effekt på din hälsa.</p>
					<p><i class="fa fa-minus fa-lg" style="color:#38A9DB;padding-right:5px;"> </i> Du rör dig inte mer än nödvändigt för att ta dig fram.</p>				
				</ons-col>
            </ons-row>
            <ons-row align="left" style="padding-top:15px;">
                <ons-col>
					<h3>Psykiska– antalet roller i ditt liv och livskontroll</h3>				
					<p><i class="fa fa-plus fa-lg" style="color:#fa1bbb;padding-right:5px;"> </i>  Du känner att du är i kontroll och styr ditt liv framgångsrikt.</p>
					<p><i class="fa fa-minus fa-lg" style="color:#38A9DB;padding-right:5px;"> </i>  Ditt liv känns som okontrollerbar kaos och du kan inte påverka förloppet</p>
				</ons-col>
            </ons-row>
        </div>
    </ons-carousel-item>
    <ons-carousel-item >
		<div class="item-label-header"><h1>Återhämtning</h1></div>
        <div class="item-label">
            <ons-row align="left" style="padding-top:15px;">
                <ons-col>
					<h3>Fysisk – Sömn och vila</h3>
					<p><i class="fa fa-plus fa-lg" style="color:#fa1bbb;padding-right:5px;"> </i> Du vaknar pigg och energisk varje morgon. Du känner dig utvilad och sover regelbundna tider.</p>
					<p><i class="fa fa-minus fa-lg" style="color:#38A9DB;padding-right:5px;"> </i> Du vaknar trött och sliten varje morgon. Du sover dåligt samt oregelbundna tider.</p>				
				</ons-col>
            </ons-row>
            <ons-row align="left" style="padding-top:15px;">
                <ons-col>
					<h3>Psykisk – avkoppling</h3>				
					<p><i class="fa fa-plus fa-lg" style="color:#fa1bbb;padding-right:5px;"> </i> Du kan ta avkopplande pauserdagligen med gott samvete.</p>
					<p><i class="fa fa-minus fa-lg" style="color:#38A9DB;padding-right:5px;"> </i>  Du har ingen tid eller förmåga att koppla av.</p>
				</ons-col>
            </ons-row>
        </div>
    </ons-carousel-item>
    <ons-carousel-item >
		<div class="item-label-header"><h1>Fysisk Kapacitetsnivå</h1></div>
        <div class="item-label">
            <ons-row>
                <ons-col>
                    <div style="text-align:center;margin-left:0px auto;margin-right:0px auto;"><img src="images/battery--black-04.svg" width="70%"></div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col><p>Den här kapacitetsnivån möjliggör bas fuktionen av kroppen, ämnesomsättningen och att en kan tag sig till mötet. <br><br>På den här nivån en klara av endast vardagsrutiner och sina skyldigheter.</p></ons-col>
            </ons-row>
        </div>
    </ons-carousel-item>
    <ons-carousel-item >
		<div class="item-label-header"><h1>Känslo Kapacitetsnivå</h1></div>
        <div class="item-label">
            <ons-row>
                <ons-col>
                    <div style="text-align:center;margin-left:0px auto;margin-right:0px auto;"><img src="images/battery--black-03.svg" width="70%"></div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col><p>Den här kapacitetsnivån påverkar stimulans på känslörna starkare än vad de borde göra. Man reagerar på stimulans med känslorna utan att använda logiskt tänkande som känslofilter. Personlig kommunikation på den här nivån är sällan konstruktivt. Ofta hör en vad en vill höra istället för att höra det some någon vill berätta för en. <br><br>Detta leder till allvarliga problem inom sociala sammanhang. Risken för missförstånd genom att höra vad man vill höra ökar betydligt.</p></ons-col>
            </ons-row>
        </div>
    </ons-carousel-item>
    <ons-carousel-item>
		<div class="item-label-header"><h1>Logisk Kapacitetsnivå</h1></div>
        <div class="item-label">
            <ons-row>
                <ons-col>
                    <div style="text-align:center;margin-left:0px auto;margin-right:0px auto;"><img src="images/battery--black-02.svg" width="70%"></div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Den här kapacitetsnivån möjliggör det logiska tänkandet, problemlösningen och en reaferar på stimulans med intelligens. En kan överväga sina svar och hur de påverkar andra människor. Det går att planera livet och arbetet, men är fortfarande med planenring och organisering istället för verkställande av sina planer.</ons-col>
            </ons-row>
        </div>
    </ons-carousel-item>
    <ons-carousel-item >
		<div class="item-label-header-2row"><h1>Verkställande kapacitetsnivå</h1></div>
        <div class="item-label">
            <ons-row>
                <ons-col>
                    <div style="text-align:center;margin-left:0px auto;margin-right:0px auto;"><img src="images/battery--black-01.svg" width="70%"></div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Den här nivån kräver att en lever ett en lever ett balanserat liv. På den här nivån saker som påverkar känslorna kan lättare omarbetas med intelligens och tankar och idèer konkretiseras till åtgårder. Kapaciteten räcker utöver arbetet även för aktivt fritidsliv.</ons-col>
            </ons-row>
        </div>
    </ons-carousel-item>
    <ons-carousel-cover>
        <div class="toggler-prev" onclick="carousel.prev();">
            <ons-icon icon="ion-chevron-left" class="lower"></ons-icon>
        </div>
        <div class="toggler-next" onclick="carousel.next();">
            <ons-icon icon="ion-chevron-right" class="lower"></ons-icon>
        </div>
    </ons-carousel-cover>
</ons-carousel>