<!DOCTYPE html>
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="lib/3d/js/d3.min.js"></script>
    <script src="lib/3d/js/nv.d3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="lib/3d/css/nv.d3.min.css">
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css"/>
    <link rel="stylesheet" type="text/css" href="lib/onsen/css/custom/fonts/flaticon.css">
    <link rel="stylesheet" type="text/css" href="lib/onsen/css/custom/default.css">
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />
	
	<link rel="stylesheet" type="text/css" href="css/custom.css" />

    <title>Capacity</title>

    <script>
        angular.module('app', ['onsen']);

        angular.module('app').controller('AppController', function ($scope, $window) {

            $scope.capacityStorage = angular.fromJson($window.localStorage.getItem('CAPACITY_STORAGE') || '[{"key": "Data", "values": []}]');

            $scope.capacityModel = {
                nutritionQuality: 4,
                relationshipQuality: 4,
                exerciseQuality: 4,
                challengeAmount: 4,
                restAmount: 4,
                relaxAmount: 4
            };

            var totalCapacity = 64;

            $scope.calculateCapacity = function () {
                totalCapacity =
                        ((Number($scope.capacityModel.nutritionQuality) + Number($scope.capacityModel.relationshipQuality)) / 2) *
                        ((Number($scope.capacityModel.exerciseQuality) + Number($scope.capacityModel.challengeAmount)) / 2) *
                        ((Number($scope.capacityModel.restAmount) + Number($scope.capacityModel.relaxAmount)) / 2);

                if (totalCapacity >= 513){
                    $scope.capacity = "active";
                } else if (totalCapacity >= 346){
                    $scope.capacity = "feeling";
                } else if (totalCapacity >= 126){
                    $scope.capacity = "logical";
                } else {
                    $scope.capacity = "physical";
                }

            };

            $scope.storeCapacity = function() {
                $scope.capacityStorage[0].values.push({x: $scope.capacityStorage[0].values.length - 1, y: totalCapacity});
                $window.localStorage.setItem('CAPACITY_STORAGE', angular.toJson($scope.capacityStorage));
            };

            $scope.clearData = function() {
                $window.localStorage.removeItem('CAPACITY_STORAGE');
            }

        });

        angular.module('app').factory('nv', function() {
            return nv;
        }).factory('d3', function() {
            return d3;
        });

        angular.module('app').directive('lineChart', ['d3', 'nv', function(d3, nv) {
            return {
                restrict: 'E',
                scope: {
                    data: '=',
                    height: '@',
                    width: '@'
                },

                template: '<svg ng-attr-height="{{ height }}" ng-attr-width="{{ width }}"></svg>',
                link: function(scope, element) {
                    var svg = element.find('svg'),
                            chart;

                    var draw_background_fill = function (from, to, color) {
                        var low_limit = chart.yAxis.scale()(to);
                        var upper_limit = chart.yAxis.scale()(from);

                        var rect_background = document.getElementsByClassName("nv-background")[0].firstChild;

                        d3.select('.nv-groups').append("rect")
                                .attr("x", 0)
                                .attr("y", low_limit)
                                .attr("width", rect_background.getAttribute('width'))
                                .attr("height", upper_limit - low_limit)
                                .attr("fill", color);
                    };

                    var update = function() {

                        d3.select(svg[0])
                                .datum(scope.data)
                                .call(chart);

                        draw_background_fill(26, 125, "rgba(56,169,219, 0.3)");
                        draw_background_fill(126, 345, "rgba(56,183,44, 0.3)");
                        draw_background_fill(346, 513, "rgba(185,120,35, 0.3)");
                        draw_background_fill(514, 1000, "rgba(186,35,117, 0.3)");
                    };

                    scope.$watch(function() { return angular.toJson(scope.data); }, function() {
                        if (chart) {
                            update();
                        }
                    });

                    scope.$on('chartinit', update);

                    nv.addGraph(function() {

                        chart = nv.models.lineChart()
                                .showLegend(false)
                                .showYAxis(true)
                                .showXAxis(false)
                                .forceY([64,1000]);

                        chart.xAxis
                                .axisLabel('x')
                                .tickFormat(d3.format('.2f'));

                        chart.yAxis
                                .axisLabel('Capacity')
                                .tickFormat(d3.format('d'));

                        chart.legend.margin({top: 5, right: 0, bottom: 5, left: 0});

                        nv.utils.windowResize(function() {
                            chart.update()
                        });

                        scope.$emit('chartinit');

                        return chart;
                    });
                }
            }
        }]);
    </script>

    <style>
        .tab {
            line-height: 1;
        }

        .tab-icon {
            font-size: 24px;
            padding: 0;
            margin: 0;
            vertical-align: top;
            line-height: 28px;
        }

        .tab-label {
            line-height: 11px;
            vertical-align: top;
            font-size: 11px;
        }

        .profile-wrapper {
            padding: 16px 10px 0 10px;
        }

        .profile-image {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            background-color: #ccc;
        }

        .profile-name {
            font-size: 18px;
            padding: 4px 0 2px 0;
        }

        .profile-email {
            font-size: 15px;
            opacity: 0.4;
        }

        .settings-header {
            font-weight: 500;
            font-size: 14px;
            opacity: 0.4;
            padding: 10px 0 0px 10px;
            margin-bottom: -4px;
        }

        .settings-list {
            margin-top: 0px;
        }

        .range-list {
            text-align: center;
        }

        .range-wrapper .range {
            margin-top: 7px;
            width: 100%;
        }

    </style>

</head>

<body ng-controller="AppController">
    <script src="cordova.js"></script>
    <script src="scripts/index.js"></script>

    <ons-tabbar class="tabbar-color">
        <ons-tab active="true" page="home.html">
				<div class="tab">
					<!-- <ons-icon icon="ion-home" class="tab-icon"></ons-icon> -->
					<div class="tab-label">Hur lyckades<br> du igår?</div>
				</div>	
        </ons-tab>

        <ons-tab page="settings.html">
            <div class="tab">
                 <!-- <ons-icon icon="ion-gear-a" class="tab-icon"></ons-icon> -->
                <div class="tab-label">Trend</div>
            </div>
        </ons-tab>
    </ons-tabbar>

    <ons-template id="home.html">
        <ons-navigator>
		

            <ons-page>
				
					
					<div class="headline">
						<span class="header-text"<div ><img class="ic-logo" src="images/ic-logo.svg">Hur Lyckades<br> du Igår?</div></span>
					</div>				

                <ons-list class="range-list">

                    <ons-list-item>
                        <ons-row>
                            <ons-col width="40px">
                                <ons-icon icon="fa-cutlery" class="lower"></ons-icon>
                            </ons-col>
                            <ons-col class="range-wrapper">
                                <input ng-model="capacityModel.nutritionQuality" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                            </ons-col>
                            <ons-col width="40px">
                                <span class="notification">{{capacityModel.nutritionQuality}}</span>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item>
                        <ons-row>
                            <ons-col width="40px">
                                <ons-icon icon="fa-users" class="lower"></ons-icon>
                            </ons-col>
                            <ons-col class="range-wrapper">
                                <input ng-model="capacityModel.relationshipQuality" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                            </ons-col>
                            <ons-col width="40px">
                                <span class="notification">{{capacityModel.relationshipQuality}}</span>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item>
                        <ons-row>
                            <ons-col></ons-col>
                        </ons-row>
                        <ons-row>
                            <ons-col width="40px">
                                <ons-icon icon="fa-heartbeat" class="lower"></ons-icon>
                            </ons-col>
                            <ons-col class="range-wrapper">
                                <input ng-model="capacityModel.exerciseQuality" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                            </ons-col>
                            <ons-col width="40px">
                                <span class="notification">{{capacityModel.exerciseQuality}}</span>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item>
                        <ons-row>
                            <ons-col width="40px">
                                <ons-icon icon="fa-child" class="lower"></ons-icon>
                            </ons-col>
                            <ons-col class="range-wrapper">
                                <input ng-model="capacityModel.challengeAmount" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                            </ons-col>
                            <ons-col width="40px">
                                <span class="notification">{{capacityModel.challengeAmount}}</span>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item>
                        <ons-row>
                            <ons-col width="40px">
                                <ons-icon icon="fa-bed" class="lower"></ons-icon>
                            </ons-col>
                            <ons-col class="range-wrapper">
                                <input ng-model="capacityModel.restAmount" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                            </ons-col>
                            <ons-col width="40px">
                                <span class="notification">{{capacityModel.restAmount}}</span>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item>
                        <ons-row>
                            <ons-col width="40px">
                                <ons-icon icon="fa-pause" class="lower"></ons-icon>
                            </ons-col>
                            <ons-col class="range-wrapper">
                                <input ng-model="capacityModel.relaxAmount" type="range" min="4" max="10" class="range" ng-change="calculateCapacity()">
                            </ons-col>
                            <ons-col width="40px">
                                <span class="notification">{{capacityModel.relaxAmount}}</span>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item>
                        <div class="battery-container" ng-click="storeCapacity()">
                            <div class="animate-switch-container" ng-switch on="capacity">
                                <img ng-switch-when="active" src="images/battery-01.svg" width="240px" />
                                <img ng-switch-when="feeling" src="images/battery-02.svg" width="240px" />
                                <img ng-switch-when="logical" src="images/battery-03.svg" width="240px" />
                                <img ng-switch-default src="images/battery-04.svg" width="240px" />
                            </div>
                        </div>
                    </ons-list-item>

                </ons-list>

            </ons-page>
        </ons-navigator>
    </ons-template>

    <ons-template id="settings.html">
        <ons-page>
			<div class="headline">
				<div class="header-text" ng-click="clearData()">Trend</div>
			</div>				

            <ons-list modifier="inset" class="settings-list">
                <ons-list-item>
                    <line-chart data="capacityStorage" height="400px"></line-chart>
                </ons-list-item>
            </ons-list>

        </ons-page>
    </ons-template>
</body>
</html>